@import '../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss';
.affix {
	margin-top: -60px;
}
.doc {
	margin: 10px;
}

.bs-docs-sidebar .nav>li>a {
	color: #999;
	padding-top: 4px;
	padding-bottom: 4px;
}

.bs-docs-sidebar .nav>.active>a, .bs-docs-sidebar .nav>.active:hover>a,
	.bs-docs-sidebar .nav>.active:focus>a {
	font-weight: 700;
	color: #ce4646;
	border-left: 2px solid #ce4646;
}

.bs-docs-sidebar .nav .nav>li>a {
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 30px;
}



.gistIcon {
	margin-left: 10px;
	width: 18px;
	height:18px;
}

.nav-ex {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	}

	.nav-el {
	  float: left;
	 
	}

	.nav-el button {
	  display: block;
	  color: white;
	  background: #333;
	  text-align: center;
	  padding: 12px 14px;
	  text-decoration: none;
	  border:none;
	}

	  /* Change the link color to #111 (black) on hover */
	  .nav-el button:hover {
		background-color: #111;
	  }

	.active {
	  background-color: #4CAF50;
	}

	.switch {
	float: right;
	position: relative;
	margin: 5px;
	display: inline-block;
	width: 60px;
	height: 34px;
  }


	.switch input { 
	float: right;
	opacity: 0;
	width: 0;
	height: 0;
	}

	.slider {
	float: right;
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
	}

	.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
	}

	input:checked + .slider {
	background-color: red;
	}

	input:focus + .slider {
	box-shadow: 0 0 1px red;
	}

	input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
	}
	/* Rounded sliders */
	.slider.round {
	border-radius: 34px;
	}

	.slider.round:before {
	border-radius: 50%;
	}
	
	.slider:hover{
		background:red;
	}
