/* DARK THEME  */

.cm-s-dark.CodeMirror { 
  background: #2B2B2B; 
  color: #A9B7C6; 
  border: 10px;
}


.cm-s-dark .cm-shape {color: #8fd5fa;}

.cm-s-dark .cm-keyword {color: #ff5656;}
.cm-s-dark .cm-atom {color: #219;}
.cm-s-dark .cm-number {color: #E5F439;}
.cm-s-dark .cm-def {color: #00f;}
.cm-s-dark .cm-variable,
.cm-s-dark .cm-punctuation,
.cm-s-dark .cm-property,
.cm-s-dark .cm-operator {color: #05a;}
.cm-s-dark .cm-variable-3 {color: #8fd5fa;}
.cm-s-dark .cm-comment {color: #999;}
.cm-s-dark .cm-string {color: #b98003;}
.cm-s-dark .cm-string-2 {color: #a1df67;}
.cm-s-dark .cm-constraint {color: #a1df67;}
.cm-s-dark .cm-valueSet {color: #a1df67;}
.cm-s-dark .cm-constraintKeyword {color: #ff5656;}
.cm-s-dark .cm-facet {color: #ff5656;}
.cm-s-dark .cm-shapeRef {color:#8fd5fa;}
.cm-s-dark .cm-meta {color: #555;}
.cm-s-dark .cm-qualifier {color: #555;}
.cm-s-dark .cm-builtin {color: #30a;}
.cm-s-dark .cm-bracket {color: #997;}
.cm-s-dark .cm-tag {color: #170;}
.cm-s-dark .cm-attribute {color: #00c;}
.cm-s-dark .cm-hr {color: #e42727;}
.cm-s-dark .cm-link {color: #00c;}
.cm-s-dark .cm-punc {color: #FFFFFF;}
.cm-s-dark .cm-logical {color:#ff5656;}
.cm-s-dark .cm-at {color:#68BEEB;}
.cm-s-dark .cm-prefixDelcAlias {color:#f8c4ffc0;}
.cm-s-dark .cm-prefixDelcIRI{color:#f8c4ffc0;}
.cm-s-dark .cm-baseDecl {color:#f8c4ffc0;}
.cm-s-dark .cm-importDecl {color:#f8c4ffc0;}

.cm-s-dark .CodeMirror-cursor { border-left: 1px solid #A9B7C6; }  
.cm-s-dark .CodeMirror-activeline-background { background: #323232; } 
.cm-s-dark .CodeMirror-gutters { background: #313335; border-right: 1px solid #313335; } 
.cm-s-dark .CodeMirror-guttermarker { color: #FFEE80; }  
.cm-s-dark .CodeMirror-guttermarker-subtle { color: #D0D0D0; }  
.cm-s-dark .CodeMirrir-linenumber { color: #606366; } 
.cm-s-dark .CodeMirror-matchingbracket { background-color: #3B514D; color: #FFEF28 !important; font-weight: bold; } 

.cm-s-dark div.CodeMirror-selected { background: #214283; }  

.CodeMirror-hints.dark {
  color: #9C9E9E;
  background-color: #3B3E3F !important;
}

.CodeMirror-hints.dark .CodeMirror-hint-active {
  background-color: #494D4E !important;
  color: #9C9E9E !important;
}