/* WIKIDATA THEME */


.cm-s-wiki .cm-shape {color:#0F7A50;}

.cm-s-wiki .cm-keyword {color: #f00;}
.cm-s-wiki .cm-atom {color: #219;}
.cm-s-wiki .cm-number {color: #085;}
.cm-s-wiki .cm-def {color: #00f;}
.cm-s-wiki .cm-variable,
.cm-s-default .cm-punctuation,
.cm-s-wiki .cm-property,
.cm-s-wiki .cm-operator {color: #05a;}
.cm-s-wiki .cm-variable-2 {color: #0F7A50;}
.cm-s-wiki .cm-variable-3 {color: #05a;}
.cm-s-wiki .cm-comment {color: #999;}
.cm-s-wiki .cm-string {color: rgb(185, 128, 3);}
.cm-s-wiki .cm-string-2 {color: #05a;}
.cm-s-wiki .cm-constraint {color: #05a;}
.cm-s-wiki .cm-meta {color: #555;}
.cm-s-wiki .cm-qualifier {color: #555;}
.cm-s-wiki .cm-builtin {color: #30a;}
.cm-s-wiki .cm-bracket {color: #997;}
.cm-s-wiki .cm-tag {color: #170;}
.cm-s-wiki .cm-attribute {color: #00c;}
.cm-s-wiki .cm-hr {color: #999;}
.cm-s-wiki .cm-link {color: #00c;}
.cm-s-wiki .cm-punc {color: black;}
.cm-s-wiki .cm-logical {color:#f00;}
.cm-s-wiki .cm-at {color:#0F7A50;}